/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    font-family: "Raleway";
    overflow-x: hidden;
    flex-wrap: wrap;
}
.blocpage1
{
    margin-left: 50px;
    margin-right: 50px;
}
a
{
    text-decoration: none;
}


                /*En-tête*/


header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.logo
{
    margin-top: 0;
    width: 95px;
}
nav.menu
{
}

ul.nav
{
    list-style-type: none;
    color: #106ffd;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

.nav li
{
    width: auto;
    padding: 15px;
}
.nav a
{
    color: #106ffd;
}
.nav a:hover
{
    text-decoration: none;
    padding: 52px 0px 0px 0px;
    border-top: 2px solid #106ffd;   
}
a.activites
{
    color: black;
}
a.register
{
    font-weight: bold;
}
 
                /* Main */


.champ
{
    margin-bottom: 25px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 30px;
}

.find h1
{
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1em;
    margin-bottom: 13px;
}
.find p
{
    margin-bottom: 20px;
}
.search
{
    display: flex;
    width: 25em;
}

#ville-search
{
    height: 3em;
    font-weight: bold;
    border: solid 1px #F2F2F2;
}
::placeholder
{
    color: black;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 15px;
}
#img_position
{
    background-color:#F2F2F2;
    width: 40px; height: 2.78em;
    border-radius: 15px 0 0 15px;
    align-items: center;
}
.fa-map-marker-alt
{
    margin: 15px;  
}

.bouton
{
    height: 2.78em;
    width:7em;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
}
.searchbut
{
    width: 5em;
    height: 2.5em;
    color: white;
    background-color: #0065FC;
    border: none;
    margin-top: 0.1em;
    font-size: medium;
    font-family: "raleway";
    font-weight: bold;
}
.fa-search
{
    font-size: 0em;
}
                    /*SECTION FILTRES */


#filtres
{
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 929px;
    margin-top: 30px;
    margin-left: 10px;
}

.filters-button
{
    display: flex;
    justify-content: space-around;
    margin-left: 5px;   
}

.filters-button button:hover
{
    
    background-color: #DEEBFF;
}
.filters-button i
{
    position: absolute;
    top: 0.55em;
    left: 0.55em;
}
.fa-money-bill-wave
{
    font-size: 0.9em;
}
.Conteneur-filtre
{
    margin: 0 5px;
    border-radius: 40px;
    background-color: white; 
}

.icone-container
{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 2.1em;
    height: 2.1em;
    border-radius: 40px;
    position: absolute;
}
.boutons
{
    background-color: white;
    font-weight: bold;
    height: 2.5em;
    border: solid 2px #F2F2F2;
    border-radius: 40px;
}

.filter-text
{
    margin-left:35px;
}

                /* DIV Info */

.info
{
    display: flex;
    align-items: center;
    margin: 30px 0px 10px 5px;
}
.info span
{
    margin: 5px;
}
.info-container
{
    display: flex;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-radius: 40px;
    width: 1em;
    height: 1em;
}
.fa-info
{   
    padding: 5px;
    align-items: center;
    color: #0065FC;
    font-size: 0.7em;

}


                /*Corps*/


#hebergements
{
    display: flex;
    width: 94vw;
    margin-left: 50px;
    margin-right: 50px;
}
#hebergements h3 h4
{
    font-weight: bold;
}
.heberg-body
{
    display: flex;
    width: 65%; height: 626px;
    background-color: #F2F2F2;
    margin: 15px 10px 15px 0px;
    border-radius: 15px;
    flex-direction: column;
}
.heberg-body h3,h4
{
    font-weight: bold;
}
.heberg-body h3
{
    margin: 30px 0px 0px 25px;
}
#heberg-container
{
    display: flex;
    flex-wrap: wrap;
    height: 450px; width: 100%;
    margin-top: 30px;
    padding: 0px;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}


.heberg-list
{
    height: 194px; width: 30%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 2px silver;
    color: black;
    line-height: 0;
    padding: 5px;
    margin: 0px;
    display:flex;
    flex-direction: column;
}

.heberg-list img
{
    width: 100%; height: 114px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.heberg-caption
{
    margin: 8px 0px 3px 17px;
    font-size: 0.88em;
    line-height: 1.5em;
}
.note
{
    color: #0065FC;
    font-size: 0.8em;
}
.grey-star
{
    color: #F2F2F2;
}
.prix
{
    font-weight: bold;
}
.plus
{
    background-color: #F2F2F2;
    text-decoration: none;
    border: none;
    font-weight: bold;
    margin: 45px 0px 0px 20px;
}

                    /* POPULAIRES */

aside
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 35%; height: 626px;
    border-radius: 15px;
    text-align: center;
    margin: 15px 100px 15px 10px;
    
}
#populaire
{
    margin: 15px 0px 15px 0px;
}
#pop-container
{
    margin: 35px 0px 5px 0px;
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
}
.pop-head
{
    display: flex;
    margin: 25px 25px 0px 25px;
    padding: 5px;
    justify-content: space-between;
    font-weight: bold;
}

.pop-list
{
    background-color: white;
    border-radius: 20px;
    width: 85%;
    box-shadow: 0 4px 2px silver;
    color: black;
    line-height: 1em;
    margin: 0px 0px 15px 15px;
    padding: 5px;
    display:flex;
    flex-direction: column;
}
.bloc-pop
{
    display: flex;
    object-fit: cover;

}
.bloc-pop img
{
    width: 45%;
    height: 139px;
    object-fit: cover;
    display: flex;
    border-radius: 15px 0 0 15px;
}
.pop-caption
{
    margin: 10px 25px 5px 22px;
    font-size: 0.8em;
    line-height: 1.8em;
    text-align: start;
    position: relative;
}
.bloc-pop .note
{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}
                /*   ACTIVITES    */

#activités
{
    margin: 0px 50px 50px 50px;
}
.main-container-activ
{
    display: flex;
    max-width: 100%; height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_title
{
    
    width: 20vw; height: 57px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 4px 2px silver;
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    object-fit: cover;
}
.card_title p
{
    padding: 20px 0px 0px 10px;
}
.card_img
{
    width: 20vw; height: 389px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 0px 2px silver;
    object-fit: cover;
    margin-top: 35px;
}
#first-container-activ
{
    display: flex;
    flex-direction: column;
    height: 446px;
}
.activ_title
{
    font-weight: bold;
    margin: 50px 0px 25px 15px;
}
.elem1 img
{
    height: 173px;
}
.elem2 img
{
    margin-top: 35px;
    height: 120px;
}
.second-container-activ a
{
    display: flex;
    flex-direction: column;
}
.elem3 img
{
    margin-top: 35px;
    height: 134px;
}
.elem4 img
{
    margin-top: 35px;
    height: 159px;
}

                /*   --FOOTER--   */

footer
{
    background-color: #F2F2F2;
    width: 100%;
    margin-left: 0px;
    flex-basis: 100%;
    padding: 50px;
    flex-wrap: wrap;
}
#foot-container
{
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#foot-container h2
{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 13px;
}
#foot-container a
{
    color: black;
    line-height: 1.7em;
    font-size: 1em;
}

            /*    Media    */

@media (min-width: 1066px) and (max-width: 1210px)
{
    .card_img, .card_title
    {
        width: 230px;
    }
    #pop-container
    {
        display: block;
    }
    .pop-caption
    {
        font-size: 0.7em;
        line-height: 1.5em;
    }
}
@media (min-width: 844px) and (max-width: 1066px)
{
    .blocpage1, #hebergements
    {
        margin: 0px 25px 0px 25px;
    }
    #hebergements
    {
        width: 93vw;
    }
    .heberg-caption
    {
        margin: 8px 0px 3px 5px;
        font-size: 0.85em;
        line-height: 1.5em;
    }
    #populaire
    {
        
    }
    #activités
    {
        margin: 0px 25px 25px 25px;
    }
    .card_img, .card_title
    {
        width: 25vw;
    }
    #pop-container
    {
        display: block;
    }
    .pop-caption
    {
        font-size: 0.7em;
        line-height: 1.5em;
    }

}
            /*   --MEDIA TABLET--  */
@media (min-width: 480px) and (max-width: 844px)
{
    body
    {
        overflow-x: hidden;
    }
    .blocpage1
    {
        margin: 15px;
    }
    .ville
    {
        width: 100%;
    }
    header
    {
        display: flex;
        height: 130px;
        padding: 0px;
        margin: 0px;
        position: relative;
    }
    .logo
    {
        margin: 20px 0px 0px 15px;
    }
    .register
    {
        position: absolute;
        top: 30%;
        left: 75%;
    }
    ul.nav
    {
        width: 110vw;
        margin: 35px 0px 0px 0px;
        padding: 0px;
        display: flex;
    }
    .nav a:hover
    {
        display: none;
    }
    .nav
    {
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    li.navbar 
    {
        margin: 0px 0px 30px 0px;
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 25px;
        width: 100vw;
    }
    li.navbar:hover
    {
        border-bottom: 2px #0065FC solid;
        padding-bottom: 25px; 
    }
    li.navregister 
    {
        width: 0px; height: 0px;
    }
    .champ
    {
        height: 140px;
        margin: 40px 0px 0px 5px; padding: 0px;
    }
    .champ h1
    {
        margin-top: 30px;
    }
    .search
    {
        display: flex;
        width: auto;
        margin: 0px;
    }
    #container_search
    {
        width: auto;
    }

    .bouton
    {
        min-width: 40px; max-width: 40px;
        border-radius: 10px;
    }
    .searchbut
    {
        display: none;
        width: 0px;
        font-size: 0em;
    }
   .fa-search
   {
       width: auto;
       color: white;
       margin: 14px 11px 13px 11px;
       font-size: 1em;
   }

    #filtres
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        margin: 10px 0px 0px 0px;
    }
    #filtres h2
    {
        margin-left: 5px;
    }
    .filters-button
    {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 50vw;
        height: 130px;
        margin-top: 15px; margin-left: 0px;
        margin-bottom: 10px;
    }
    .info
    {
        margin: 15px 0px 30px 0px;
        font-size: 0.8em;
    }
    #hebergements
    {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 0px 25px 0px;
    }
    .heberg-body
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95vw; height: 100%;
        background-color: white;
        margin: 35px 10px 15px 10px; padding: 0px;
    }
    .heberg-body h3
    {
        font-size: 1.25em;
        margin: 10px 0px 0px 30px;
    }
    #heberg-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 800px; width: 100%;
        margin: 0px 0px 0px 0px; padding: 0px;
    }
    a.heberg-list
    {
        width: 40%; height: 220px;
        margin: 0px;
    }
    a.heberg-list img
    {
        height: 150px;
    }
    .plus
    {
        background-color: white;
        margin: 10px 0px 0px 35px;
    }
    #populaire
    {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
    .pop-head
    {
        font-size: 1.25em;
        width: 82vw;
        margin: 30px 5px 0px 25px;
    }
    #pop-container
    {
        display: flex;
        align-items: center;
        margin: 20px 5px 0px 5px;
    }
    .pop-list
    {
        margin-left: 0px;
    }
    .pop-caption
    {
        line-height: 1.1em;
        font-size: 0.88em
    }
    #populaires
    {
        width: 100%;
        margin: 0px;
    }
    #activités
    {
        margin-left: 25px; margin-right: 25px;
    }
    .activ_title
    {
        margin-top: 15px;
    }
    .card_img
    {
        margin-top: 5px;
    }
    .main-container-activ
    {
        display: flex;
        justify-content: space-around;
    }
    .activ:nth-child(3)
    {
        order: 1;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 400px;
    }
    #foot-container
    {
        display: flex;
        flex-direction: column;
        height: 85%;
        margin: 20px 0px 0px 10px;
    }
}


            /*   --MEDIA MOBILE--  */
@media (min-width: 320px) and (max-width: 480px)
{
    body
    {
        overflow-x: hidden;
    }
    .blocpage1
    {
        margin: 15px;
    }
    .ville
    {
        width: 100%;
    }
    header
    {
        display: flex;
        height: 130px;
        padding: 0px;
        margin: 0px;
        position: relative;
    }
    .logo
    {
        margin: 20px 0px 0px 15px;
    }
    .register
    {
        position: absolute;
        top: 30%;
        left: 75%;
    }
    ul.nav
    {
        width: 110vw;
        margin: 35px 0px 0px 0px;
        padding: 0px;
        display: flex;
    }
    .nav a:hover
    {
        display: none;
    }
    .nav
    {
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    li.navbar 
    {
        margin: 0px;
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 25px;
        width: 100vw;
    }
    li.navbar:hover
    {
        border-bottom: 2px #0065FC solid;
        padding-bottom: 25px; 
    }
    li.navregister 
    {
        width: 0px; height: 0px;
    }
    .champ
    {
        height: 160px;
        margin: 40px 0px 0px 5px; padding: 0px;
    }
    .search
    {
        display: flex;
        width: auto;
        margin: 0px;
    }
    #container_search
    {
        width: auto;
    }

    .bouton
    {
        min-width: 40px; max-width: 40px;
        border-radius: 10px;
    }
    .searchbut
    {
        display: none;
        width: 0px;
        font-size: 0em;
    }
   .fa-search
   {
       width: auto;
       color: white;
       margin: 14px 11px 13px 11px;
       font-size: 1em;
   }
    #filtres
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        margin: 0px;
    }
    #filtres h2
    {
        margin-left: 5px;
    }
    .filters-button
    {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 75%;
        height: 110px;
        margin-top: 15px; margin-left: 0px;
        margin-bottom: 10px;
    }
    .info
    {
        margin: 20px 0px 30px 0px;
        font-size: 0.8em;
    }
    #hebergements
    {
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        margin: 0px 0px 25px 0px;
    }
    .heberg-body
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%; height: 100%;
        background-color: white;
        margin: 35px 0px 15px 0px; padding: 0px;
    }
    .heberg-body h3
    {
        font-size: 1.25em;
        margin: 10px 0px 0px 30px;
    }
    #heberg-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1400px; width: 100%;
        margin: 0px 0px 0px 0px; padding: 0px;
    }
    a.heberg-list
    {
        width: 85%; height: 182px;
        margin: 0px;
    }
    .plus
    {
        background-color: white;
        margin: 10px 0px 0px 35px;
    }
    #populaire
    {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
    .pop-head
    {
        font-size: 1.25em;
        width: 82vw;
        margin: 30px 5px 0px 25px;
    }
    #pop-container
    {
        display: flex;
        align-items: center;
        margin: 20px 5px 0px 5px;
    }
    .pop-list
    {
        margin-left: 0px;
    }
    #activités
    {
        margin: 5px 15px 35px 15px;
        display: flex;
        flex-direction: column;
    }
    .main-container-activ
    {
        justify-content: center;
    }
    .activ_title
    {
        font-size: 1.25em;
        margin: 15px 0px 0px 15px;
    }
    #activités img
    {
        height: 125px; width: 88vw;
    }
    .card_title
    {
        width: 88vw;
    }
    .pop-caption
    {
        line-height: 1.1em;
        font-size: 0.88em
    }
    #populaires
    {
        width: 100%;
        margin: 0px;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 400px;
    }
    #foot-container
    {
        display: flex;
        flex-direction: column;
        height: 85%;
        margin: 20px 0px 0px 10px;
    }
}